Q1) Count the number of times iNeuron appears in the string.

text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"

In [1]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
num = text.count("iNeuron")
print(num)

3

Q2) Check if position 5 to 11 ends with the phrase iNeuron. in the string

txt = "Hello, welcome to FSDS 2.0 at iNeuron."

In [2]:
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
name = txt[5:11]
print(name)
if name == "iNeuron":
  print("Its matching")
else:
  print("Its not matching")

, welc
Its not matching

Q3) Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

In [3]:
name = "Sunny Bhaveen Chandra"
fname,mname,lname = name.split(" ")
print(fname,mname,lname)
print(fname[0],'.',mname[0],'.',lname)

Sunny Bhaveen Chandra
S . B . Chandra

Q4) Join all items in a list into a string, using a hash(#) character as separator:

LIST = ["My", "name", "is", "Rishav", "Dash"]

In [4]:
LIST = ["My", "name", "is", "Rishav", "Dash"]
name = "#".join(LIST)
print(name)

My#name#is#Rishav#Dash

Q5) Write example for the following string manipulation function,

- isdecimal()
- islower()
- isupper()
- isalpha()
- isnumeric()

In [5]:
name = input("Enter the name")
if name.isdecimal():
  print("name is decimal", name)
elif name.islower():
  print("name is lower", name)
elif name.isupper():
  print("name is lower", name)
elif name.isalpha():
  print("name is lower", name)
elif name.isnumeric():
  print("name is lower", name)

Enter the namesantoshgore
name is lower santoshgore

Q6) Indian PAN card format follows the following formats -

AYEPC7894X
ABCDE9999Y Take user input for PAN_CARD and validate as per the above example.

In [6]:
pan = input("Enter your PAN number")
wid = len(pan)
if wid == 10 and pan[0:4].isalpha() and pan[5:8].isdigit and pan[9].isalpha:
  print("Correct format")
else:
  print("Insert PAN in correct format")

Enter your PAN numberAJWPGH76854M
Insert PAN in correct format