<a href="https://colab.research.google.com/github/gores-bot/iNeuron_Santosh/blob/main/FSDS_bootcamp_assignment_004_Oct_09_Santosh_Gore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Find the largest number from the given list, use for loop.

numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
numbers = [12, 75,150, 180, 145, 525, 50]
max = numbers[0]

for i in numbers:
    if i > max:
        max = i
        
print("Largest number is : ", max)

Largest number is :  525

Q2. Print all the even number between (1, 12).

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
for i in numbers:
  if i%2 == 0:
    print(f"{i} is the even number")
  else:
    continue

2 is the even number
4 is the even number
6 is the even number
8 is the even number
10 is the even number
12 is the even number

Q3. Calculate the sum of all numbers from 1 to a given number

In [15]:
num = int(input("Enter any number"))
a = 1
sum = 1
while a < num:
  a = a + 1 
  sum = sum + a
  print(f"value of a is {sum}")

print("Sum is", sum)

Enter any number10
value of a is 3
value of a is 6
value of a is 10
value of a is 15
value of a is 21
value of a is 28
value of a is 36
value of a is 45
value of a is 55
Sum is 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop
numbers = [12, 75, 150, 180, 145, 525, 50]

In [17]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i > 500:
    break
  elif i % 5 == 0 and i <= 150:
    print(f"{i} satisfying all the required conditions...")
  else: 
    continue

75 satisfying all the required conditions...
150 satisfying all the required conditions...
145 satisfying all the required conditions...

Q5. Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]

In [20]:
numbers = [10, 20, 30, 40, 50]
a = len(numbers)
i = a - 1
while i >= 0:
  print(numbers[i])
  i = i-1

50
40
30
20
10